In [12]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import math

In [13]:
# Step 1: Fetch HTML from the news website
url = 'https://www.bbc.com/news'  # Replace with preferred news site
response = requests.get(url)
response.raise_for_status()

In [14]:
# Step 2: Parse HTML and extract headlines
soup = BeautifulSoup(response.text, 'html.parser')
headlines = [h2.get_text(strip=True) for h2 in soup.find_all('h2')]

In [15]:
# Step 3: Remove NaN and empty strings
# Filter out items that are NaN or empty
cleaned_headlines = [h for h in headlines if h and not (isinstance(h, float) and math.isnan(h))]

# Step 4: Save headlines into a .txt file with a custom header
df = pd.DataFrame(cleaned_headlines, columns=['Top News Headlines'])  # Custom column header

In [16]:
# Save to text file with header, tab-separated for clarity
df.to_csv('headlinez.txt', index=False, sep='\t')

print(f"Scraped {len(cleaned_headlines)} headlines and saved with header 'Top News Headlines' to headlines.txt")

Scraped 62 headlines and saved with header 'Top News Headlines' to headlines.txt

In [17]:
import pandas as pd
df = pd.read_csv('headlinez.txt')
df

                                                                  Top News Headlines
Netanyahu calls Palestinian recognition 'disgra...   as dozens walk out of UN speech
Watch: Dozens of delegates get up and leave as ...                               NaN
The Indian who caught 'Bikini killer' twice - a...                               NaN
China launches campaign to keep killjoys off th...                               NaN
Ryder Cup: Europe cruise to first two points in...                               NaN
...                                                                              ...
Hamilton pulls out of tyre test to be with ill dog                               NaN
Trump 'will move World Cup games from unsafe ci...                               NaN
Tottenham reject takeover interest from third g...                               NaN
World Cup final predictions - will England win?                                  NaN
'Bigger than football' - the Dublin NFL game 10...                               NaN

[62 rows x 1 columns]